*{
    margin: 0;
    padding: 0;
}

.product_details_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.product_card{
    line-height: 1.5;
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgb(6, 119, 134);
    border-radius: 15px;
    margin: 10px 30px;
    display: inline-block;
    transition: 0.4s;
}
.product_card_image{
    text-align: center;
}
.product_card_details{
    background-color: rgb(255, 244, 214);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}
.para_style1{
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.para_style{
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.stars{
    color: black;
    font-weight: bold;
}
.rating_stars{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_card:hover{
    transform: scale(1.1);
    .product_card_details{
        background-color: rgb(255, 198, 112);
    }
}